#app{
    text-align: center;
    margin-top: 10rem;
}
.male{
    border-radius: 100%;
    border: 5px solid rgb(141, 240, 255);
    background-color: rgb(141, 240, 255);
}
.female{
    border-radius: 100%;
    border: 5px solid rgb(239, 19, 255);
    background-color: rgb(239, 19, 255);
}
.btn{
    border-radius: 0;
    padding: 0.4rem;
    border: 2px solid black;
    font-size: 1.1rem;
    border-radius: 8px;
}
